
.containerForm {
    margin: 50px 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.containerReset {
    width: 40%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.input {
    width: 100%;
}

.containerButtons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* RESPONSIVE PARA TELEFONOS */
@media only screen and (max-width: 414px){ 
    .containerReset {
        width: 80%;
        text-align: center;
    }
}