.navBar {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    height: 8%;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 10px 0;
    background-color: #1F2937;
    color: white;
    margin: flex-start;
    z-index: 1;
}

.app-title {
    color: white;
    text-decoration: none;
}


.btn-container {
    
    position: absolute;
    right: 2em;
    display: flex;
    gap: 10px;
}

.anon-btn {
    background-color: rgba(240, 248, 255, 0.74) !important;


}

.anon-btn:hover {
    background-color: aliceblue !important;
}

/* .user-btn {
    background-color: darkslategrey !important;

}

.user-btn:hover {
    background-color: aliceblue !important;
} */





